#calculate {
  max-width: 760px;
  margin: 0 auto;
  padding: 30px;
}

.Button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.Button {
  display: flex;
  flex-direction: column;
}

.Button__img {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.Button__img--active {
  opacity: 1;
}

.Button__img:hover {
  opacity: 1;
}

.TextField__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: auto;
  padding: 15px;
}
